# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Pods/
android/.gradle/
android/app/build/
linux/build/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Rust
target/
**/*.rs.bk

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
